
<table class="table table-hover stripped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of listPassword; index as i" id="{{list._id}}">
        <th  class="align-middle" scope="row">{{i+1}}</th>
        <td class="align-middle">{{list.title}}</td>
        <td class="align-middle">
            <!-- Button for View -->
            <button class="btn btn-info btn-sm mr-2" data-toggle="modal" 
            data-target="#exampleModal" (click)="showModal(list, true)">View</button>

            <!-- Button for Edit -->
            <button class="btn btn-warning btn-sm mr-2" data-toggle="modal"
            data-target="#exampleModal" (click)="showModal(list, false)">Edit</button>
            
            <!-- Button for Delete -->
            <button data-toggle="modal"
            data-target="#deleteModal" (click)="showModal(list)" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
</table>

<p *ngIf="listPassword == false">No log record..</p>

<!-- Update Modal -->
<div *ngIf="openModal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{logAction}} Log Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <form #updateLogPasswordDetail="ngForm" (ngSubmit)="updateFormLogPassword(updateLogPasswordDetail)">

      <div class="modal-body">

          <!-- This is a disabled input tag. This is for us to get the log id -->
          <div class="form-group">
            <label for="exampleInputTitle">Log Id</label>
            <input 
            type="text" 
            class="form-control" 
            id="exampleInputId"
            aria-describedby="titleHelp" 
            [(ngModel)]="showListModalPassword._id"
            #logId="ngModel"
            ngModel
            name="logId"
            readonly="true">
          </div>
        
          <div class="form-group">
              <label for="exampleInputTitle">Title</label>
              <input 
              type="text" 
              class="form-control" 
              id="exampleInputTitle" 
              aria-describedby="titleHelp" 
              [(ngModel)]="showListModalPassword.title"
              #title="ngModel"
              ngModel
              name="title"
              [disabled]="toggleDisable"
              >
          </div>
          <div class="form-group">
            <label for="exampleInputUsername">Username</label>
            <input 
            type="text" 
            class="form-control" 
            id="exampleInputUsername" 
            aria-describedby="usernameHelp" 
            [(ngModel)]="showListModalPassword.username"
            #username="ngModel"
            ngModel
            name="username"
            [disabled]="toggleDisable"
            >
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input 
            type="text" 
            class="form-control" 
            id="exampleInputEmail" 
            aria-describedby="emailHelp" 
            [(ngModel)]="showListModalPassword.email"
            #email="ngModel"
            ngModel
            name="email" 
            [disabled]="toggleDisable">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input 
            type="text" 
            class="form-control" 
            id="exampleInputPassword1"
            [(ngModel)]="showListModalPassword.password"
            #password="ngModel"
            ngModel
            name="password" [disabled]="toggleDisable">
          </div>

      </div>
      <div class="modal-footer">
        <!-- Bootstrap class mr-auto will make the modal footer align to left and the the other one will remain align to right -->
        <p *ngIf="updateStatus" class="mr-auto text-success">Data Successfully save</p>
        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- Show if edit and hide if view -->
        <button type="submit" *ngIf="toggleDisable == false" class="btn btn-primary">Save changes</button>
      </div>

    </form>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Are you sure to delete this log?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- <div class="modal-body">
        <p>Are you sure you want to delete this Log?
        </p>
      </div> -->

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- Note: declaring button type should be first inorder to work else it wont work properly -->
        <button type="button" (click)="deleteLog(showListModalPassword._id)" class="btn btn-primary" data-dismiss="modal">Confirm</button>
      </div>

    </div>
  </div>
</div>