/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/**Snackbar success color**/
.green-snackbar{
    background-color: rgb(56, 56, 56);
    color: #22bb33;
  }

  /**Snackbar error color**/
  .red-snackbar{
    background-color: rgb(56, 56, 56);
    color: #FF406E;
  }